body {
  background-color: gold;
}

.main-content {
	padding:10px;
	border: 5%;
	margin:auto; 
}
.more-details {
    color: red;
    font-weight: bold; 
}
	   
.p {
  font-size: 10px;
  font-family:Helvetica;
}

#center {
	display: inline;
	vertical-align: baseline;
	margin: auto;
	padding:10px;
	width: 70%
	outline:2px solid black;
	
}